{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    
      <img src="{% static 'lang-logo.png'%}" width="300">
    <h1>Is It Porn?</h1>
    <p >This is a (NSFW) demonstration of a  porn detection algorithm. <br/> Upload an image to test the API! </p>
    <p> 
      <img id="preview" src="#" style="display:none;" />
    </p>
    <p> 
      <div style="display:none;" id="porn">
        <h3> Result: <span class="label label-pill label-danger">PORN</span> </h3>  
      </div>
      <div style="display:none;" id="not-porn">
        <h3> Result: <span class="label label-pill label-success">NOT PORN</span></h3>
      </div>
    </p>
    <p>      
          {% csrf_token %}
          <span class="btn btn-default btn-file btn-lg" >
              Upload a file <input type="file">
          </span>          
          <button class="btn btn-info btn-lg" id="go">
            Go!
          </button>
    </p>
    <a type="button" class="btn btn-lg btn-default" href="#" id="sample-image"><span class="glyphicon glyphicon-flash"></span> Use a sample image</a>
    
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How the algorithm works</h3>
      <p>The algorithm uses an implementation of a convolutional neural network.</p>
    <ul>
        <li>Convolutional neural nets are a common pre-processing step in a neural network</li>
            <img src="{% static 'conv-net.png'%}" width=300>
        <li>They have excellent properties such as translational invariance through a technique called pooling and heirarchical features which make them an excellent choice for image classification problems</li>
        <li>I trained my model on data collected from the Bing Image Search API</li>
        <li>I used the nolearn library, which is built on top of the lasagne library, which is in turn built on top of the theano library.</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-th"></span> CNN Architecture</h3>
      <pre>
Layer #  name        size
-------  ----------  --------
  0      input0      3x64x64
  1      conv2d1     32x56x56
  2      conv2d2     32x52x52
  3      maxpool2d3  32x26x26
  4      conv2d4     32x22x22
  5      conv2d5     32x20x20
  6      maxpool2d6  32x10x10
  7      dense7      256
  8      dropout8    256
  9      dense9      256
 10      dense10     2
</pre>
    </div>
    <div class="col-md-4">
      <h3><span class="glyphicon glyphicon-link"></span> Libraries Used</h3>
      <ul>
        <li><a href="https://github.com/dnouri/nolearn">nolearn</a></li>
        <li><a href="https://github.com/Lasagne/Lasagne">Lasagne</a></li>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
        <li><a href="https://devcenter.heroku.com/articles/django-app-configuration">Configuring Django Apps for Heroku</a></li>
      </ul>
      <br/>
      <a type="button" class="btn btn-lg btn-primary" href="https://github.com/cid2105/dirty-image-classifier" target="_blank"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
    </div>
  </div> <!-- row -->
</div>

<script>


function getBlobFromImage(img) {
    // Create an empty canvas element
    var canvas = document.createElement("canvas");
    canvas.width = img.width;
    canvas.height = img.height;

    // Copy the image contents to the canvas
    var ctx = canvas.getContext("2d");
    ctx.drawImage(img, 0, 0);

    // Get the data-URL formatted image
    // Firefox supports PNG and JPEG. You could check img.src to
    // guess the original format, but be aware the using "image/jpg"
    // will re-encode the image.
    var dataURL = canvas.toDataURL("image/png");
    return dataURItoBlob(dataURL);
}

function dataUriToBlob(dataURI) {
        // serialize the base64/URLEncoded data
        var byteString;
        if (dataURI.split(',')[0].indexOf('base64') >= 0) {
            byteString = atob(dataURI.split(',')[1]);
        }
        else {
            byteString = unescape(dataURI.split(',')[1]);
        }

        // parse the mime type
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0]

        // construct a Blob of the image data
        var array = [];
        for(var i = 0; i < byteString.length; i++) {
            array.push(byteString.charCodeAt(i));
        }
        return new Blob(
            [new Uint8Array(array)],
            {type: mimeString}
        );
}

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('img#preview').show().attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
    }
}

function submitFormDataToAPI(formData) {
  $.ajax({
          url: 'classify',  //server script to process data
          type: 'POST',
          //Ajax events
          success: completeHandler = function(data) {
              if(data["porn"] === "true") {
                $("#porn").show();
                 $.notifyBar({  html: "That's porn alright. I know it when I see it!"}); 
              } else {
                $("#not-porn").show();
                 $.notifyBar({  html: "I don't think that's porn. At least not the kind of stuff I've seen.."}); 
              }
          },
          error: errorHandler = function(e) {
              toastr.error("Internal server error");
          },
          // Form data
          data: formData,
          //Options to tell JQuery not to process data or worry about content-type
          cache: false,
          contentType: false,
          processData: false
      }, 'json');
}

function reset() { 
  $("#not-porn").hide(); $("#porn").hide(); 
}

$(":file").change(function(){
    readURL(this);
});

var isUsingSampleData = false;

$("#sample-image").click(function() {
  reset();
  var image_number = Math.floor(Math.random() * 10) + 1;
  $('img#preview').show().attr('src', "/static/sample-" + image_number + ".png");
  isUsingSampleData = true;
});

function submitSampleData() { 

  var image = $('img#preview')[0];
  var canvas = document.createElement('canvas');
  var ctx = canvas.getContext('2d');
  canvas.width = image.width;
  canvas.height = image.height;
  ctx.drawImage(image, 0, 0);
  var dataUrl = canvas.toDataURL('image/png');
  var blob = dataUriToBlob(dataUrl);
  var formData = new FormData();
  formData.append("image", blob);
  submitFormDataToAPI(formData);
}

$('button#go').click(function(){
    if(isUsingSampleData) {
      submitSampleData();
      isUsingSampleData = false;
      return true;
    }

    reset();
    var file_elem = $(':file')[0];
    var file = file_elem.files[0];
    name = file.name;
    size = file.size;
    type = file.type;

    if(file.name.length < 1) {
    }
    else if(file.size > 10485760) {
        toastr.error("File is to big");
    }
    else if(file.type != 'image/png' && file.type != 'image/jpg' && file.type != 'image/jpeg' ) {
        toastr.error("File doesnt match png or jpg");
    }
    else { 
        
      var formData = new FormData();
      formData.append('image', file);
      submitFormDataToAPI(formData);
      
        
    }
});
</script>
{% endblock %}

